 body{
    background-color: #131313;
    color: #555;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

#button{
    background: antiquewhite;
    border: magenta 1px solid ;
    border-radius: 15px;
    border-width: 5px;
    border-style: ridge;
    color: #111;
    cursor: pointer;
    font-family: 'roboto',arial;
    font-size: 15px;
    font-weight: 500;
    height: 40px;
    right: 1px;
    outline: none;
    overflow: hidden;
    position: fixed;
    bottom:18% ;
    transform:translate(-50%, -50%) ;
    width:140px;
    z-index: 1;
}

#button a:active{
    background: rgb(206, 0, 0);
    color: antiquewhite;
}

#button a:hover{
    background: rgb(46, 196, 0);
    color: antiquewhite;
}

#button a{
    text-decoration:none;
    font-size: 18px;
    
}

.nomal h4{
    background: transparent;
    color: antiquewhite;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    background: rgb(233, 111, 10);
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: hidden;
    border-style:outset;
    border-color: rgb(218, 238, 40);
    border-radius: 13px;
    border-width: 5px;
    padding: 25px;
    box-shadow: 2px 2px 10px lightgray,
                -2px -2px 10px lightgray;
    text-align: center;
}

#main-header{
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: -1;
    background-color: rgb(255, 38, 38);
    background:rgb(34, 34, 34);
    background-image: url(..//Amankii/images/004.jpg);
    background-position: center right;
    background-repeat: 2;
    color:antiquewhite;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center ;
    height: 150px;
    padding-top: 40px;
    font-size: larger;
}

#main-header h6{
    color: rgb(233, 111, 10);
}

span.ingrediet {
    color: #f00;
}

#navbar a:hover{
    background-color: red;
    color: #fff;
}

#navbar a:active{
    background-color: green;
    color: #f4f4f4;
}

#navbar{
    background:transparent;
    color: #333;
    text-align: center;
}

#navbar ul{
    padding: 0;
    list-style: none;
    text-align: center;
}
#navbar li{
    display:block;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 5px;
    margin-right: 6px;
    margin-bottom: 6px;
    font-weight: bolder;
}

#navbar a{
    color: #333;
    text-decoration: none;
    padding-right: 15px;
    font-size: 18px;
}

#showcase{
    background-image: url(..//Amankii/images/pexls.001.jpg) ;
    background-position: center  bottom;
    min-height: 300px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}

#showcase h1{
    color: rgb(211, 211, 211);
    text-align: center;
    letter-spacing: 3px;
    line-height: 1.5em;
    padding-top: 100px;
    padding-left: 0;
    font-size: 40px;
    font-weight: 500;
}

#main{
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    width: 30%;
    padding: 10px;
    margin-top: 30px;
    box-sizing: border-box;
    background:#333;
    color: #f4f4f4;
    border-radius: 34px;
}

.box-1{
    background-color:coral;
    font-family: Verdana, Geneva, sans-serif;
    padding: 10px;
    margin: 10px;
    border-color: antiquewhite;
    border-style: dotted;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 0.6px;
}

.box-1 h3{
    letter-spacing: 1px;
    word-spacing: 0.6em;
    font-family: serif;
    color: rgb(20, 17, 17);
}

.box-2{
    background-color:coral;
    font-family: Verdana, Geneva, sans-serif;
    padding: 10px;
    margin: 10px;
    border-color: antiquewhite;
    border-style: dotted;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 0.6px;
}

.box-2 h3{
    letter-spacing: 1px;
    word-spacing: 0.6em;
    font-family: serif;
    color: rgb(20, 17, 17);
}

.box-3{
    background-color:coral;
    font-family: Verdana, Geneva, sans-serif;
    padding: 10px;
    margin: 10px;
    border-color: antiquewhite;
    border-style: dotted;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 0.6px;
}

.box-3 h3{
    letter-spacing: 1px;
    word-spacing: 0.6em;
    font-family: serif;
    color: rgb(20, 17, 17);
}

.main-table{
    border: 5px solid #333;
    border-radius: 9px;
    padding: 1px;
    background-color: lightblue;
    margin: 20px;
    width: auto;
    height: auto;
}

.main-table tr{
    background: rgb(173, 47, 47);
    color: snow;
}

.my-form{
    margin: 20px;
}

.form-group label{
    display: block;
    font-weight: bolder;
    color: antiquewhite;
}

.my-form input[type="text"],  .my-form input[type="date"], .my-form input[type="number"]{
    padding: 9px;
    width: 80%;
}

.my-form textarea{
    padding: 9px;
    width: 80%;
}

.my-form input[type="submit"]{
    background-color: rgb(255, 0, 0);
    color: #f4f4f4;
    padding: 8px;
    margin-left: 50%;
    font-size: larger;
}

#main-footer{
    text-decoration: none;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 30px;
    border-radius: 400px;
}

#main-footer p{
    text-decoration: dotted;
    color: firebrick;
}

a{
    text-decoration: none;
}
